<section [class.jgb-edit]="state.editMode$ | async">

  <button
    class="jgb-widget-trigger"
    mat-stroked-button
    color="primary"
    [disabled]="(board$ | async) === null"
    (click)="openPanelDialog()">
    <mat-icon>widgets</mat-icon>
    <span>&nbsp;Widgets</span>
  </button>

  <main class="jgb-board">
    <div class="jgb-board-empty" *ngIf="!(boards$ | async)?.length">
      <p>Welcome to Git Status Board.</p>
      <p>Start by adding a board:</p>
      <br>
      <button mat-flat-button color="primary" (click)="addBoard(); state.toggleEdit()">Add board</button>
    </div>
    <div class="jgb-board-placeholder" aria-hidden="true">
      <div *ngFor="let i of [].constructor(16)" class="jgb-board-placeholder-item"></div>
    </div>
    <div class="jgb-board-grid" *ngIf="panels$ | async as panels;">
      <div
        class="jgb-board-grid-item"
        cdkDragBoundary=".jgb-board-grid"
        [cdkDragDisabled]="(state.editMode$ | async) === false"
        cdkDrag
        *ngFor="let panel of panels; index as index;"
        [style.grid-row-start]="panel.panel.layout.rowStart"
        [style.grid-row-end]="'span ' + panel.panel.layout.rowSpan"
        [style.grid-column-start]="panel.panel.layout.colStart"
        [style.grid-column-end]="'span ' + panel.panel.layout.colSpan">
        <div class="jgb-board-grid-item-controls">
          <mat-icon class="jgb-board-grid-item-controls-drag" aria-hidden="true">open_with</mat-icon>
          <button class="jgb-board-grid-item-controls-remove" mat-icon-button (click)="removePanel(index)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <mat-card class="w-full h-full">
          <ng-template [cdkPortalOutlet]="panel.portal"></ng-template>
        </mat-card>
      </div>
    </div>
  </main>

  <footer
    *ngIf="boards$ | async as boards"
    class="jgb-board-selection"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="sortBoards($event, boards)">
    <div
      class="jgb-board-selection-item"
      *ngFor="let board of boards"
      [routerLink]="['/board', board.id]"
      cdkDrag
      cdkDragLockAxis="x"
      [cdkDragData]="board"
      [class.active]="(activatedRoute.params | async).id === board.id">
      <mat-icon class="jgb-board-selection-item-drag" cdkDragHandle>drag_indicator</mat-icon>
      <p class="jgb-board-selection-item-name">{{board.name}}</p>
      <button class="jgb-board-selection-item-remove" (click)="removeBoard(board)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

    <button mat-button color="primary" (click)="addBoard()">
      <mat-icon>add</mat-icon>
    </button>
  </footer>

</section>
