<ng-container *ngIf="form$ | async as form">
  <form class="grid" [formGroup]="form" (ngSubmit)="save(form.getRawValue())">

    <div class="col-12">
      <mat-card>

        <mat-card-content>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Github Handle</mat-label>
            <input matInput formControlName="github" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Gitlab Handle</mat-label>
            <input matInput formControlName="gitlab" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12">
      <div class="flex jc-end">
        <button [class.loading]="loading$ | async" mat-raised-button color="primary">
          Save
        </button>
      </div>
    </div>
  </form>
</ng-container>
