<ng-container *ngIf="form$ | async as form">
  <form [formGroup]="form" (ngSubmit)="save(form.getRawValue())">

    <h1 mat-dialog-title>My profile</h1>

    <mat-dialog-content>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Github Handle</mat-label>
        <input matInput formControlName="github" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Gitlab Handle</mat-label>
        <input matInput formControlName="gitlab" />
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="jc-end">
      <button mat-button [mat-dialog-close]>
        Cancel
      </button>&nbsp;
      <button [class.loading]="loading$ | async" mat-flat-button color="primary">
        Save changes
      </button>
    </mat-dialog-actions>

  </form>
</ng-container>
