<router-outlet></router-outlet>

<ng-container *ngIf="afAuth.user | async">
  <button class="jgb-menu" mat-button color="primary" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="state.toggleEdit()">{{mode$ | async}}</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openDialog('members')">Members</button>
    <button mat-menu-item (click)="openDialog('profile')">My profile</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logOut()">Logout</button>
  </mat-menu>
</ng-container>