<div class="flex jc-center p-y-s" *ngIf="loading$ | async">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>

<mat-list>
  <ng-container *ngFor="let member of members$ | async">
    <mat-list-item *ngIf="member.event; else empty;">
      <img matListAvatar [src]="member.member.avatar" [attr.alt]="member.member.name">
      <h4 matLine>{{member.member.name}} → {{member.event.repository.full_name}} <b>({{member.event.commit.timestamp | date:'HH:mm'}})</b></h4>
      <p matLine>{{member.event.commit.message}}</p>
      <ng-container *ngIf="member.event.jobs">
        <p matLine *ngFor="let job of member.event.jobs" [ngClass]="job.status">
          {{job.name}}
        </p>
      </ng-container>
    </mat-list-item>
    <ng-template #empty>
      <mat-list-item>
        <img matListAvatar [src]="member.member.avatar" [attr.alt]="member.member.name">
        <h4 matLine>No commits yet</h4>
      </mat-list-item>
    </ng-template>
  </ng-container>
</mat-list>
